h1,h2,h3,h4,h5,h6{
    font-weight: 600;
    line-height: 1.4211;
    letter-spacing: .012em;
    color:white;
}

p{
    color:#999999;
}

body{
    background-color: black;
}

.container {
    padding-right: 0px; 
    padding-left: 0px;
    margin-right: auto;
    margin-left: auto;

    padding-left: 15px;
    padding-right: 15px;
}

.card {
    border: none !important;
    border-radius: 0px;
}

.card-title {
    color: white;
    margin-bottom: 5px;
  }

  .card-title-2 {
    color: white;
    margin-left: 15px;
    margin-bottom: 0px;
    margin-top: 3px;
  }

  .card-logo-button {
    color: #0084FF;
    margin-left: 15px;
    margin-bottom: 0px;
    margin-top: 0px;
  }

  .card-text {
    color: #999999;
    margin-left: 15px;
    margin-bottom: 0px;
    margin-top: 0px;
  }

.card-subtitle {
    font-size: 15px;
    font-weight: 600;
    line-height: 1.4211;
    letter-spacing: .012em;
    text-transform: uppercase;
    color: #757575;
  }

  .card-body {
      background-color: #151515;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
  }

  .card {
    border: none !important;
    border-radius: 0px;
}

  .card-img {
    height: 500px;
    object-fit: cover;
    background-color: #0a0a0a;
    border-radius: 10px !important;
  }

  .card-im {
    height: 200px;
    object-fit: cover;
    background-color: #0a0a0a;
    border-radius: 10px !important;
  }

  .card-logo {
    height: 70px;
    width: 70px;
    object-fit: cover;
    background-color: #0a0a0a;
    border-radius: 15px !important;
  }

.card1 {
    border-radius: 10px;
    background-color: #151515;
    margin-top: 15px;
  }

  .layout1{
    padding: 30px;
  }

.d1 {
    position: absolute;
    z-index: 1;
}

.d2 {
  padding-top: 4px;
  padding-left: 10px;
  border-radius: 30px;
}

a:link {
    text-decoration: none;
  }